// HEADER
.port-navbar.port-nav-base{
  width: 100%;
  z-index: 15;
  padding: 40px;

  .port-navbar {
    &-brand {
      color: white;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: white;
      font-weight: 500;
      letter-spacing: 0.8px;
      font-size: 16px;
      text-transform: uppercase;
      margin-left: 15px;
      &.active {
      color: #dba919;
      }

      &:hover, &:focus {
        color: #dba919;
        font-weight: bold;
      }
    }
  }
}

.port-navbar.port-nav-base.port-nav-default {
  padding: 25px;
  background-color: rgb(160, 120, 120) !important;
}

.port-navbar.port-nav-base.port-nav-index {
  padding: 25px;
  background-color: black !important;
}


@media (min-aspect-ratio: 16/10) {
  .port-navbar.port-nav-base.port-nav-index {
    padding: 5px;
  }
  .port-navbar.port-nav-base.port-nav-default {
    padding: 5px;
  }
}
