

@media (min-aspect-ratio: 16/14) {
	body {
		overflow-y: scroll;
	}
	.about-section {
		display: none;
		top: 0;
		min-height: 100%;
		padding-top: 20vh;
		border: 1px solid blue;
	}
	.left-side {
		flex: 1;
		width: 50%;
		height: 100%;
		position: fixed;
		margin-top: -150px;
		bottom: 0;
	}
	.image-About {
		position: absolute;
		width: 90%;
		bottom: 0;
	}
	.right-side {
		flex: 0.5;
		width: 50%;
		position: relative;
		left: 50%;
		height: 100%;
	}
	.about-title {
		font-size: 3vw;
		font-weight: bold;
		margin-bottom: 2vw;
	}
	.about-subtitle {
		font-size: 2vw;
		margin-bottom: 2%;
	}
	.about-subsubTitle {
		font-size: 1.3vw;
	}
	.image-About-2 {
		display: none;
	}
}

@media (max-aspect-ratio: 16/14) {
	body {
		overflow-y: scroll;
	}
	.about-section {
		display: none;
	}
	.left-side {
		position: fixed;
		bottom: 0;
	}
	.image-About {
		left: 0%;
		width: 80vw;
		opacity: 0.4;
		bottom: 0;
	}
	.right-side {
		position: relative;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 1;
		min-height: 100%;
	}
	.about-title {
		font-size: 5vh;
		font-weight: bold;
		margin-bottom: 3vh;
	}
	.about-subtitle {
		font-size: 3vh;
	}
	.about-subsubTitle {
		font-size: 1.8vh;
		text-align: justify;
		text-justify: inter-word;
		z-index: 1;
	}

}

@media (max-aspect-ratio: 10/16) {
	
	.about-section {
		display: none;
	}
	.left-side {
		position: fixed;
		bottom: 0;
	}
	.image-About {
		left: 0%;
		width: 95vw;
		opacity: 0.4;
		bottom: 0;
		z-index: -3;
	}
	.right-side {
		width: 95%;
		margin: auto;
	}
	.about-title {
		font-size: 4vh;
		font-weight: bold;
		margin-bottom: 3vh;
	}
	.about-subtitle {
		font-size: 2.5vh;
	}
	.about-subsubTitle {
		font-size: 1.8vh;
	}
}

