body {
	overflow: scroll;
}

@media (min-aspect-ratio: 16/14) {
	
	.about-section {
		display: flex;
	}
	.left-side {
		flex: 1;
		width: 50%;
	}
	.image-About {
		width: 100%;
		margin-top: 4vw;
	}
	.right-side {
		flex: 1;
		width: 50%;
	}
	.about-title {
		font-size: 3vw;
		font-weight: bold;
		margin-bottom: 2vw;
	}
	.about-subtitle {
		font-size: 2vw;
	}
	.about-subsubTitle {
		font-size: 1.2vw;
	}
	.image-About-2 {
		display: none;
	}
}

@media (max-aspect-ratio: 16/14) {
	
	.about-section {
		display: flex;
	}
	.left-side {
		display: none;
	}
	.right-side {
		width: 80%;
		margin: auto;
	}
	.about-title {
		font-size: 5vh;
		font-weight: bold;
		margin-bottom: 3vh;
	}
	.about-subtitle {
		font-size: 3vh;
	}
	.about-subsubTitle {
		font-size: 1.8vh;
		text-align: justify;
  text-justify: inter-word;
	}
	.about-image-arround {
		display: flex;
		margin-top: 5%;
		text-justify: inter-word;
	}
	.image-About-2 {
		width: 50vw;
		height: 100%;
		//border: 1px solid red;
	}

}

@media (max-aspect-ratio: 10/16) {
	
	.about-section {
		display: flex;
	}
	.left-side {
		position: absolute;
		
		height: 100%;
		bottom: 5%;
		opacity: 0.3;
	}
	.image-About {
		height: 100%;
		width: 100%;
	}
	.right-side {
		width: 95%;
		margin: auto;
	}


	.about-title {
		font-size: 4vh;
		font-weight: bold;
		margin-bottom: 3vh;
	}
	.about-subtitle {
		font-size: 2.5vh;
	}
	.about-subsubTitle {
		font-size: 1.8vh;
	}
}