.cv-page {
}
.cv-page iframe {
  width: 500px;
  height: 800px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .cv-page iframe {
    width: 80%;
    height: 600px;
  }
  
}
