
$fontSize: 3vw;

.carousel-word {
	margin-top: -3%;
	position: relative;
	width: 100%;
	font-size: $fontSize;
	height: 2.5vw;
	.pre {
		position: absolute;
		top: 0;
		height: $fontSize * 1.5;
	}
	.change_outer {
		position: absolute;
		top: 0;
		height: $fontSize * 1.2;
		overflow: hidden;
		.change_inner {
			position: relative;
			animation: rotate 15s ease-in-out infinite;
			animation-delay: 4s;
		}
		.element {
			display: block;
			margin: 0;
			padding: 0;
		}	
	}
}



@media (max-aspect-ratio: 16/15) {
	$fontSize: 4vh;
	.carousel-word {
		margin-top: -3%;
		position: relative;
		width: 100%;
		font-size: $fontSize;
		height: $fontSize;
		.pre {
			position: absolute;
			top: 0;
			height: $fontSize * 1.5;
		}
		.change_outer {
			position: absolute;
			top: 0;
			height: $fontSize * 1.2;
			overflow: hidden;
			.change_inner {
				position: relative;
				animation: rotate 15s ease-in-out infinite;
			}
			.element {
				display: block;
			}
		}	
	}
	
}

//Smartphone-----------------

@media (max-aspect-ratio: 10/16) {
	$fontSize: 4vh;
	.carousel-word {
		margin-top: -3%;
		position: relative;
		width: 100%;
		font-size: $fontSize;
		height: 3vh;
		.pre {
			position: absolute;
			top: 0;
			height: $fontSize * 2;
		}
		.change_outer {
			position: absolute;
			top: 0;
			height: $fontSize * 1;
			overflow: hidden;
			.change_inner {
				position: relative;
				animation: rotate 15s ease-in-out infinite;
			}
			.element {
				display: block;
			}
		}	
	}
	
}


@keyframes rotate {
	0%, 20% {
		transform: translateY(0);
	}
	25%,45% {
		transform: translateY(-25%);
	}
	50%,70% {
		transform: translateY(-50%);
	}
	75%,95% {
		transform: translateY(-75%);
	}
	100% {
		transform: translateY(-100%);
	}
}
